.footer {
  background-color: rgb(50,50,50);
  text-align: center;
  padding: 30px;
}

.footer-links a{
  color: #9dd8c8;
  font-size: 24px;
  opacity: 0.7
}

.footer-links a:hover{
  opacity: 1;
}

.footer p {color: #6B6C6C;}

.footer-links p .fas{
  color: #BF0F12;
  font-size: 16px;
}

